body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

#logo {
	float: left;
	margin-top: 0;
	font-size: 30px;
}

#navPanel {
	background-color: #000000;
	height: 7%;
	position: absolute;
	top : 0px;
	color: #F8F8F8;
	width: 90%;
}

#searchBox {
	margin-top: 0;
}

#pac-input {
background-color: #fff;
padding: 0 11px 0 13px;
width: 200px;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
text-overflow: ellipsis;
}

#pac-input:focus {
border-color: #4d90fe;
margin-left: -1px;
padding-left: 14px;  /* Regular padding-left + 1. */
width: 401px;
}

.pac-container {
font-family: Roboto;
}

#type-selector {
color: #fff;
background-color: #4d90fe;
padding: 5px 11px 0px 11px;
}

#type-selector label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}


#googleMap {
	margin-top: -4px;
	float : left;
	width:50%;
	height:600px;
}

#map-canvas {
	margin-top: -4px;
	float : left;
	width:50%;
	height:600px;
}

#userPanel {
	float : right;
	width : 45%;
	height: 600px;
	background-color: #FFFFFF;
}

#filterPanel {
	margin-left: 2.5%;
	width : 95.0%;
	height: 5%;
	background-color:  	#FFFFFF ;
}

#resultsList {
	margin-top: 2.5%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	border-bottom: 1px solid #000; 

}
