@main("Welcome to Play") {

<div id="navPanel">
      <div id="logo">
        Uber Truck</h1>
      </div>

      <div class="col-sm-3 col-md-3 pull-right searchBox">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
          <div class="input-group-btn" onclick = "request()">
            <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
        
      </div>

      <div class="row">
          
      </div>
    </div>


    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map-canvas"></div>

    <div id="userPanel">
    <div id="filterPanel">
      <!--
        <div class="checkbox">
            <label>
              <input type="checkbox"> Open Now
            </label>
        </div>
      -->
      Search for Food Trucks open at:
        <input type="text"  id="datetimepicker"/>  
    </div>

    <div id="resultsList">
        <div class="container-fluid">
          <div class="row">     
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">6am-10am</a></li>
              <li><a href="#tab2" data-toggle="tab">10am-2pm</a></li>
              <li><a href="#tab3" data-toggle="tab">2pm-6pm</a></li>
              <li><a href="#tab4" data-toggle="tab">6pm & after</a></li>       
            </ul>     
            <div>
              <div class="tab-content" >
                <div class="tab-pane active" id="tab1" >
                  <div class="span6"><h1>Morning!</h1></div> 
           				<ol id="morningList">
           				</ol>
           				
                </div>                
                <div class="tab-pane" id="tab2">
                  <div class="span6"><h1>Afternoon!</h1></div>
                  <ol id="afternoonList">
           				</ol>
           				     
                </div>          
                <div class="tab-pane" id="tab3">
                  <div class="span6"><h1>Evening!</h1></div>
                  <ol id="eveningList">
           				</ol>
           				     
                </div>          
                <div class="tab-pane" id="tab4">
                  <div class="span6"><h1>Night!</h1></div>
                  <ol id="nightList">
           				</ol>
           				     
                </div>
              </div>
            </div>      
          </div>    
        </div>


    </div>


}

